name: Verify Templating

on:
  pull_request:
  push:

defaults:
  run:
    shell: 'bash -Eeuo pipefail -x {0}'

jobs:
  apply-templates:
    name: Check For Uncomitted Changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Apply Templates
        run: ./apply-templates.sh
      - name: Check Git Status
        run: |
          echo "==== GIT STATUS BEGIN ===="
          status="$(git status --short)"
          printf '%s\n' "$status" | cat -A
          echo "==== GIT STATUS END ===="

          git status
          
          if [ -z "$status" ]; then
            echo "No changes detected."
          else
            echo "Changes detected!"
            git diff
            exit 1
          fi
