name: Verify Templating

on:
  pull_request:
    paths:
      - "**/Dockerfile"
  push:
    paths:
      - "**/Dockerfile"

defaults:
  run:
    shell: "bash -Eeuo pipefail -x {0}"

jobs:
  apply-templates:
    name: Check For Uncomitted Changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Apply Templates
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            # For PRs, compare against the merge base
            git fetch origin ${{ github.base_ref }}
            changed_files=$(git diff --name-only origin/${{ github.base_ref }}...HEAD)
          else
            changed_files=$(git diff --name-only HEAD~1 HEAD)
          fi

          # Create an array of changed versions
          readarray -t versions < <(echo "$changed_files" | grep 'Dockerfile$' | sed 's|/[^/]*$||' | grep -oE '^([0-9]+\.[0-9]+|unstable)' | sort -u)

          if [[ ${#versions[@]} -gt 0 ]]; then
            ./apply-templates.sh "${versions[@]}"
          fi

      - name: Check Git Status
        run: |
          echo "==== GIT STATUS BEGIN ===="
          status="$(git status --short)"
          printf '%s\n' "$status" | cat -A
          echo "==== GIT STATUS END ===="

          git status

          if [ -z "$status" ]; then
            echo "No changes detected."
          else
            echo "Changes detected!"
            git diff
            exit 1
          fi
